body {
  background-color: beige;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;

  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
main {
  background-color: black;
  position: relative;
}
main div {
  width: 50px;
  aspect-ratio: 1/1;
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
}

main div.ball {
  z-index: 100;
  background-color: azure;
  border-radius: 50%;
  animation: aaliyah 2s infinite;
  transform: translate(-100%, 0);
}

@keyframes aaliyah {
  0% {
    transform: translate(-100%, 0);
  }

  50% {
    transform: translate(100%, 0);
  }
}
main div.square {
  z-index: 50;
  animation: cremora 2s step-end infinite;
}

@keyframes cremora {
  50% {
    z-index: 150;
  }
}
